.container {
  padding-left: 15px;

  @media (max-width: 1023px) {
    padding-left: 21px;
    padding-right: 21px;
    width: 100%;
  }
}

.buttons {
  @media (max-width: 1023px) {
    margin-bottom: 35px;
  }

  @media (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.button {
  width: 195px;
  padding-top: 10px;
  padding-right: 19px;
  padding-bottom: 11px;
  padding-left: 19px;
  display: inline-block;
  font-family: 'Open-Sans', Arial, sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-white);
  border: 1px solid var(--color-border);

  &:hover {
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-bright);
    border: 1px solid var(--color-bright);
  }

  &:active {
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-bright);
    border: 1px solid var(--color-bright);
  }

  &_active {
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-bright);
    border: 1px solid var(--color-bright);

    &:hover {
      cursor: pointer;
      background-color: var(--color-dark-bright);
    }
  
    &:active {
      cursor: pointer;
      background-color: var(--color-dark-bright);
    }
  }

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 16px;
    padding-top: 5px;
    padding-right: 7px;
    padding-bottom: 5px;
    padding-left: 7px;
    width: auto;
  }
}