.wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0 auto;
  min-height: 100vh;
}

.slider {
  grid-area: slider;
}

.info {
  grid-area: info;
}

.tabs {
  grid-area: tabs;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1200px;
}