.modal {
  width: 698px;
  height: 415px;
  background-color: var(--color-background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;

  @media (max-width: 767px) {
    width: 320px;
    height: 638px;
  }
}

.header {
  position: relative;
}

.title {
  font-size: 25px;
  line-height: 34px;
  font-weight: 600;
  text-align: center;
}

.close {
  position: absolute;
  top: -4px;
  right: 15px;
  width: 15px;
  height: 15px;
  background-image: url('../../images/close.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.form {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 29px;
}

.rating_title {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-black);
  padding-right: 12px;
}

.stars {
  line-height: 37px;
  display: flex;
  width: 169px;
  justify-content: space-between;
}

.comment {
  margin-left: 27px;

  @media (max-width: 767px) {
    margin-left: 0;
  }
}

.input {
  font-size: 14px;
  line-height: 19px;
  border: 1px solid rgba(72, 73, 77, 0.2);
  width: 100%;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  margin-bottom: 16px;
}

input::placeholder {
  color: var(--color-text);
  opacity: 1;
}

.name {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 13px;
    left: 12px;
    width: 6px;
    height: 6px;
    background-image: url('../../images/note.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.text {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 13px;
    width: 6px;
    height: 6px;
    background-image: url('../../images/note.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.textarea {
  font-family: 'Open-Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
  border: 1px solid rgba(72, 73, 77, 0.2);
  width: 100%;
  resize: none;
  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 6px;
  padding-left: 25px;
}

textarea::placeholder {
  color: var(--color-text);
  opacity: 1;
}

.button {
  font-family: 'Open-Sans', Arial, sans-serif;
  color: var(--color-white);
  background-color: var(--color-bright);
  padding-top: 17px;
  padding-right: 21px;
  padding-bottom: 17px;
  padding-left: 19px;
  margin-top: 17px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--color-dark-bright);
  }

  &:active {
    background-color: var(--color-dark-bright);
  }
}

.notice {
  position: absolute;
  top: -23px;
  color: var(--color-notice);
  font-size: 14px;
  line-height: 19px;
}