.wrapper {
  background-color: var(--color-background);
  padding-top: 15px;
  padding-bottom: 14px;
  margin-bottom: 73px;
}

.container {
  display: flex;
  width: 100%;
  min-width: 1024px;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-weight: 600;
  line-height: 22px;
}

.item {
  margin-right: 68px;

  &:last-child {
    margin-right: 0;
  }
}

.link {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &_active {
    opacity: 0.6;
  }
}
