.wrapper {
  background-color: var(--color-background);
  padding-top: 30px;
  padding-bottom: 30px;

  @media (max-width: 1023px) {
    padding-bottom: 8px;
  }

  @media (max-width: 767px) {
    padding-top: 25px;
    padding-bottom: 15px;
  }
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 17px;

  @media (max-width: 1023px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-weight: 600;
  line-height: 22px;

  @media (max-width: 1023px) {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.item {
  margin-right: 36px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 1023px) {
    margin-bottom: 20px;
  }

  @media (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.link {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &_active {
    opacity: 0.6;
  }
}