.container {
  width: 565px;

  @media (max-width: 1023px) {
    width: 100%;
  }
}

.list {
  margin-top: 11px;
  margin-bottom: 139px;

  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 22px;
  padding-top: 19px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-border);

  @media (max-width: 1023px) {
    line-height: 20px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.desc {
  color: var(--color-black);
}