.container {
  display: flex;
  padding-top: 25px;
  margin-bottom: 80px;

  @media (max-width: 767px)  {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.list {
  margin: 0;
}

.item {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: var(--color-text-dark);
  padding-bottom: 9px;
}

.desc {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-black);
  margin: 0;
}

.map {
  box-sizing: content-box;
  padding-top: 5px;
  width: 431px;
  height: 271px;

  @media (max-width: 1023px) {
    width: 283px;
    height: 283px;
  }
}

.contacts {
  margin-right: 103px;
  max-width: 245px;

  @media (max-width: 1023px) {
    margin-right: 60px;
  }

  @media (max-width: 767px)  {
    margin-right: 0;
  }
}